@using Eventures.DbModels;
@{
    ViewData["Title"] = "Home Page";
}
@model User

<div class="bg-primary mt-3 p-5 text-center">
    <h1>Greetings, Administrator - @Model.UserName!</h1>
    <hr class="bg-dark-subtle opacity-100 border-0" style="height: 5px" />
    <h3 style="color: var(--bs-dark-bg-subtle); -webkit-text-stroke: 1px black;">Enjoy your work</h3>
</div>