<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.min.css" />
    <script src="bootstrap.min.js"></script>
    <script src="jquery-3.7.1.min.js"></script>
    <script src="popper.min.js"></script>
    <title>Home</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg" style="background-color: var(--green)">
            <a class="navbar-brand text-white" href="/">IRunes</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active text-white" href="/">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Albums/All">
                        Albums
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Users/Logout">
                        Logout
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <hr style="background: var(--green); height: 2px" />
    <main>
        <div class="mx-auto w-50">
            <h1>Create Album</h1>
            <hr style="background: var(--green); height: 2px" />
            <form method="post" action="/Albums/Create">
                <div>
                    <span class="m-2 col-form-label">Name</span>
                    <input class="m-2 form-control" type="text" name="name" placeholder="Name" />
                </div>
                <div>
                    <span class="m-2 col-form-label">Cover</span>
                    <input class="m-2 form-control" type="text" name="cover" placeholder="Cover" />
                </div>
                <hr style="background: var(--green); height: 2px" />
                <div class="d-flex justify-content-around">
                    <input class="btn text-white" style="background: var(--green)" type="submit" value="Create" />
                    <a class="btn text-white" style="background: var(--green)" href="/Albums/All">Back to All</a>
                </div>
            </form>
        </div>
    </main>
    <hr style="background: var(--green); height: 2px" />
    <footer class="text-center">
        Copyright &copy; Sanity Design Studios. All rights reserved.
    </footer>
</body>
</html>