@using Microsoft.AspNetCore.Identity;
@using PANDA.DbModels;
@{
    ViewData["Title"] = "Register";
}
@inject SignInManager<User> _signInManager;

<div class="w-50 mx-auto">
    <h1 class="text-center">Register</h1>
    <hr class="border border-2 border-dark opacity-100" />
    <form action="/Users/Register" method="post">
        <div class="mt-3">
            <span class="form-label">
                Username
            </span>
            <input type="text" class="form-control" name="username" placeholder="Username..." />
        </div>
        <div class="mt-3">
            <span class="form-label">
                Password
            </span>
            <input type="password" class="form-control" name="password" placeholder="Password..." />
        </div>
         <div class="mt-3">
            <span class="form-label">
                Confirm Password
            </span>
            <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password..." />
        </div>
         <div class="mt-3">
            <span class="form-label">
                Email
            </span>
            <input type="email" class="form-control" name="email" placeholder="Email..." />
        </div>
        <div class="mt-3 text-center">
            <input type="submit" value="Register" class="btn btn-dark" />
        </div>
    </form>
</div>
