<main>
    <div class="mx-auto w-50">
        <h1 class="text-center" style="color: var(--green)">Login</h1>
        <hr style="background: var(--green); height: 2px" />
        <form method="post" action="/Users/Login">
            <div>
                <span class="m-2 col-form-label">Username / Email</span>
                <input class="m-2 form-control" type="text" name="username" placeholder="Username / Email" />
            </div>
            <div>
                <span class="m-2 col-form-label">Password</span>
                <input class="m-2 form-control" type="password" name="password" placeholder="Password" />
            </div>
            <div class="text-center">
                <input class="btn mt-3 text-white" style="background: var(--green)" type="submit" value="Login" />
            </div>
        </form>
    </div>
</main>