<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>IRunes</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/Albums/All">
                        Albums
                    </a>
                </li>
                <li>
                    <a href="/Users/Logout">
                        Logout
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <hr />
    <main>
        <h1>Create Album</h1>
        <hr />
        <form method="post" action="/Albums/Create">
            <div>
                <span>Name</span>
                <input type="text" name="name" placeholder="Name" />
            </div>
            <div>
                <span>Cover</span>
                <input type="text" name="cover" placeholder="Cover" />
            </div>
            <input type="submit" value="Create" />
        </form>
        <hr />
        <a href="/Albums/All">Back to All</a>
    </main>
    <hr />
    <footer>
        Copyright &copy; Sanity Design Studios. All rights reserved.
    </footer>
</body>
</html>