<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>IRunes</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/Users/Login">
                        Login
                    </a>
                </li>
                <li>
                    <a href="/Users/Register">
                        Register
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <hr />
    <main>
        <h1>Welcome to IRunes</h1>
        <h2><a href="/Users/Login">Login</a> if you have an account.</h2>
        <h2><a href="/Users/Register">Register</a> if you don't.</h2>
    </main>
    <hr />
    <footer>
        Copyright &copy; Sanity Design Studios. All rights reserved.
    </footer>
</body>
</html>