<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>IRunes</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/Albums/All">
                        Albums
                    </a>
                </li>
                <li>
                    <a href="/Users/Logout">
                        Logout
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <hr />
    <main>
        <h1>Welcome, {{name}}</h1>
        <h1>IRunes wishes you a fun experience.</h1>
    </main>
    <hr />
    <footer>
        Copyright &copy; Sanity Design Studios. All rights reserved.
    </footer>
</body>
</html>