<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>IRunes</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/Albums/All">
                        Albums
                    </a>
                </li>
                <li>
                    <a href="/Users/Logout">
                        Logout
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <hr />
    <main>
        <iframe width="320" height="240" src="{{videoLink}}">
        </iframe>
        <h3>
            Name: {{name}}
        </h3>
        <h3>
            Price: ${{price}}
        </h3>
        <hr />
        <a href="/Albums/Details?id={{albumIdBack}}">Back to Album</a>
    </main>
    <hr />
    <footer>
        Copyright &copy; Sanity Design Studios. All rights reserved.
    </footer>
</body>
</html>