@{
    ViewData["Title"] = "Login";
}
@model LoginViewModel

<div class="w-50 mx-auto">
    <h1 class="text-center">Login</h1>
    <hr style="height: 3px; opacity: 100; background: var(--bs-primary); border: var(--bs-primary)" />
    <form method="post" asp-action="Login" asp-controller="Users">
        <div class="text-center mt-2">
            <label class="d-block fw-bold" asp-for="UserName"></label>
            <input class="w-100 p-1" asp-for="UserName" />
        </div>
        <div class="text-center mt-2">
            <label class="d-block fw-bold" asp-for="Password"></label>
            <input class="w-100 p-1" asp-for="Password" />
        </div>
        <hr style="height: 3px; opacity: 100; background: var(--bs-primary); border: var(--bs-primary)" />
        <div class="text-center">
            <input asp-for="RememberMe" />
            <label asp-for="RememberMe"></label>
        </div>
        <hr style="height: 3px; opacity: 100; background: var(--bs-primary); border: var(--bs-primary)" />
        <div class="text-center">
            <input class="btn text-dark" style="background: var(--bs-primary)" type="submit" value="Login" />
        </div>
    </form>
    <div class="text-center mt-4">
        <a class="d-block nav-link" style="color: var(--bs-blue)" href="#">Forgot your password?</a>
        <a class="d-block nav-link" style="color: var(--bs-blue)" asp-action="Register" asp-controller="Users">Register as a new user</a>
    </div>
</div>