@{
    ViewData["Title"] = "Register";
}
@model RegisterViewModel

<div class="w-50 mx-auto">
    <h1 class="text-center">Register</h1>
    <hr style="height: 3px; opacity: 100; background: var(--bs-primary); border: var(--bs-primary)" />
    <form method="post" asp-action="Register" asp-controller="Users">
        <div class="row">
            <div class="col text-center mt-2">
                <label class="d-block fw-bold" asp-for="UserName"></label>
                <input class="w-100 p-1" asp-for="UserName" />
            </div>
            <div class="col text-center mt-2">
                <label class="d-block fw-bold" asp-for="Email"></label>
                <input class="w-100 p-1" asp-for="Email" />
            </div>
        </div>
        <div class="row">
            <div class="col text-center mt-2">
                <label class="d-block fw-bold" asp-for="Password"></label>
                <input class="w-100 p-1" asp-for="Password" />
            </div>
            <div class="col text-center mt-2">
                <label class="d-block fw-bold" asp-for="ConfirmPassword"></label>
                <input class="w-100 p-1" asp-for="ConfirmPassword" />
            </div>
        </div>
        <hr style="height: 3px; opacity: 100; background: var(--bs-primary); border: var(--bs-primary)" />
        <div class="row">
            <div class="col text-center mt-2">
                <label class="d-block fw-bold" asp-for="FirstName"></label>
                <input class="w-100 p-1" asp-for="FirstName" />
            </div>
            <div class="col text-center mt-2">
                <label class="d-block fw-bold" asp-for="LastName"></label>
                <input class="w-100 p-1" asp-for="LastName" />
            </div>
        </div>
        <div class="text-center mt-2">
            <label class="d-block fw-bold" asp-for="UCN"></label>
            <input class="w-100 p-1" asp-for="UCN" />
        </div>
        <hr style="height: 3px; opacity: 100; background: var(--bs-primary); border: var(--bs-primary)" />
        <div class="text-center">
            <input class="btn text-dark" style="background: var(--bs-primary)" type="submit" value="Register" />
        </div>
    </form>
</div>