<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Orders</title>
</head>
<body>
    <a href="/">Back to home</a>
    <table style="margin-top: 20px" border="1px solid black">
        <thead>
            <tr>
                <th>
                    Order Id
                </th>
                <th>
                    Created On
                </th>
                <th>
                    Sum
                </th>
            </tr>
        </thead>
        <tbody>
            {{{
            <tr>
                <td>
                    <a href="/orderDetails/{{orderDetailsId}}">{{orderId}}</a>
                </td>
                <td>
                    {{createdOn}}
                </td>
                <td>
                    ${{sum}}
                </td>
            </tr>
            }}}
        </tbody>
    </table>
</body>
</html>