<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="post">
        <div style="margin-bottom: 20px;">
            <span>Full Name</span>
            <input name="Name" type="text" placeholder="Full Name" />
        </div>
        <div style="margin-bottom: 20px;">
            <span>Password</span>
            <input name="Password" type="password" placeholder="Password" />
        </div>
        <div style="margin-bottom: 20px;">
            <span>Confirm Password</span>
            <input name="ConfirmPassword" type="password" placeholder="Confirm Password" />
        </div>
        <input type="submit" value="Register" />
    </form>
</body>
</html>