<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cake Info</title>
</head>
<body>
    <div style="margin-bottom: 20px;">
        <a href="/">Back to Home</a>
    </div>
    <div style="margin-bottom: 20px;">
        <h3>{{name}}</h3>
    </div>
    <div style="margin-bottom: 20px;">
        <em>Price: ${{price}}</em>
    </div>
    <div style="margin-bottom: 20px;">
        <img width="200px" height="auto" src="{{imageURL}}" />
    </div>
</body>
</html>