<header>
    <div class="jumbotron">
        <h2 class="display-1 fw-medium">Team Manager</h2>
        {{#if loggedIn}}
        <span>Welcome, {{username}}</span>
        {{/if}}
        <nav>
            <a href="#/home" class="btn btn-light">Home</a>
            <a href="#/about" class="btn btn-light">About</a>
            {{#if loggedIn}}
            <a href="#/catalog" class="btn btn-light">Catalog</a>
            <a href="#/logout" class="btn btn-light">Logout</a>
            {{else}}
            <a href="#/login" class="btn btn-light">Login</a>
            <a href="#/register" class="btn btn-light">Register</a>
            {{/if}}
        </nav>
    </div>
</header>