<main class="p-5 text-white" style="background: var(--green); display: @Model.Unauth" >
    <h1>Welcome to IRunes</h1>
    <hr class="bg-white" style="height: 2px" />
    <h2><a style="color: var(--yellow)" href="/Users/Login">Login</a> if you have an account.</h2>
    <h2><a style="color: var(--yellow)" href="/Users/Register">Register</a> if you don't.</h2>
</main>
<main class="p-5 text-white" style="background: var(--green); display: @Model.Auth">
    <h1>Welcome, <span style="color: var(--yellow)">@Model.Username</span></h1>
    <hr class="bg-white" style="height: 2px" />
    <h1>IRunes wishes you a fun experience.</h1>
</main>