@using System.Reflection;
@using System.Collections;
@using System.Net;
@using Eventures.Utilities;
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h1>@(Model.StatusCode.HasValue ? Model.StatusCode.Value + $" - {((HttpStatusCode)Model.StatusCode.Value).ToString().SplitCamelCase()}" : "")</h1>
